<!-- Formulario -->
	<header class="align-center">
				<h2>Contactanos</h2>
				<p>Para ponernos en contacto contigo y poder ayudarte a ti y tu bebe envianos un mensaje o escribenos a traves de Whatsapp al numero <strong>3103140154</strong>.</p>
	</header>
	<section class="wrapper">
		<div class="inner">
			<form method="POST" action="/enviarCorreo">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<h3>Nombre</h3>
						<input type="text" name="name" id="name" value="" placeholder="Name" />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<h3>Correo electronico</h3>
						<input type="email" name="email" id="email" value="" placeholder="Email" />
					</div>
					<div class="6u 12u$(xsmall)">
						<h3>Telefono</h3>
						<input type="text" name="phone" id="phone" value="" placeholder="Phone" />
					</div>
					<!-- Break -->
					<div class="6u$ 12u$(xsmall)">
						<h3>Busca información</h3>
						<div class="select-wrapper">
							<select name="category" id="category">
								<option value="info_gnrl">Información general</option>
							</select>
						</div>
					</div>
					<div class="12u$">
						<h3>Escribenos un mensaje</h3>
						<textarea name="message" id="message" placeholder="Enter your message" rows="6"></textarea>
						<p>Manejamos toda la informacion basados en la ley 1581 de 2012 "Habeas Data" y nuestra politica de datos.</p>
					</div>
					<div class="12u$">
						<ul class="actions">
							<li><input type="submit" value="Enviar mensaje" /></li>
							<li><input type="reset" value="Reiniciar formulario" class="alt" /></li>
						</ul>
					</div>

				</div>
			</form>
		</div>
	</section>