<section class="wrapper style1">
		<div class="inner">
			<header class="align-center">
				<h2>Experiencias de padres</h2>
				
			</header>

			<div class="flex flex-3">
				<div class="col align-center">
					<div class="image round fit">
						<img src="images/test2.jpeg" alt="" />
					</div>
					<p><strong>Amanda Pardo Olarte</strong></p>
					<p>Carlos Andres Sánchez representa para nuestras vidas la expresión medica científica de la tranquilidad, la seguridad de quien sabe conoce, tiene vocación y lo hace con amor. Él desde el primer instante de nuestra llegada al mundo (la de nuestra hija Miranda de Dios   con su extrema prematurez - nació a los 6 meses y medio de gestación) supo brindarnos  esa seguridad, abrigo, asistencia, cuidado y orientación profesional que fueron mas que definitivas es nuestras vidas.</p>
					
				</div>
				<div class="col align-center">
					<div class="image round fit">
						<img src="images/test5.jpeg" alt="" />
					</div>
					<p><strong>Nathalia Mayorga Sánchez</strong></p>
					<p>"Somos los Papas de María José, nuestra Hija nació el 15 de abril de 2.015 en la Clínica de la Mujer en Bogotá, y conocemos a Dr Carlos Andrés Sánchez Pinzón (Especialista en Pediatría), desde el 16 de abril del 2.015 y hasta la fecha gracias a Dios hemos contado siempre con el Apoyo Médico de sus controles y seguimiento de nuestra Hija. El Dr Carlos Andrés, es un gran ser humano, Excelente  Profesional, Disciplinado, tierno, adora a sus pacientes y que con sus diagnósticos siempre nos hemos sentido muy Satisfecho."</p>
					
				</div>
				<div class="col align-center">
					<div class="image round fit">
						<img src="images/test6.jpeg" alt="" />
					</div>
					<p><strong>Diana, Silvana y Sergio</strong></p>
					<p>"Hace 8 años siendo padres primerizos, llegó  a nuestras vidas una niña que llenó de amor nuestro hogar y complementó nuestras almas. No fue un comienzo fácil, ya que Silvana fue Prematura extrema y con ello, todo lo que este largo y complejo proceso conlleva. Fueron momentos de incertidumbre, pero al final el éxito de saber que hoy es una niña fuerte y sana. Todo lo anterior, no hubiese sido fácil ni llevadero por nosotros sus padres únicamente, sin la valiosa ayuda  profesional y emocional , del Dr Carlos Sánchez, que no sólo se convirtió en el primer instante, en nuestro Pediatra, sino en nuestro gran amigo , por su calidad humana y su sincero cariño con nuestra hija desde el primer minuto, y hasta el día  de hoy. "</p>
					
				</div>
			<div class="flex flex-3">
				<div class="col align-center">
					<div class="image round fit">
						<img src="images/test4.jpeg" alt="asdasd" />
					</div>
					<p><strong> Johanna Moreno Camacho</strong></p>
					<p>"Tenemos la fortuna de contar el Dr. Carlos Sánchez como pediatra de nuestro hijo desde el día de su nacimiento, esto ha sido una gran bendición, Consideremos al Dr. Carlos como un ángel en nuestras vidas es un profesional empatico con los niños, siempre nos explica de manera clara sus diagnósticos y recomendaciones. Como madre primeriza escucha todos mis miedos y está disponible para aclararlos.  Lo que más valoramos como padres son sus diagnósticos acertados y a tiempo en pro del bienestar de nuestro niño. Valoramos profundamente su entrega y toda la experiencia profesional."</p>
					
				</div>
				<div class="col align-center">
					<div class="image round fit">
						<img src="images/test3.jpeg" alt="" />
					</div>
					<p><strong>Martha Niño R</strong></p>
					<p>"Dr. Sánchez Siempre estaremos agradecidos por su especial compañía y apoyo desde el nacimiento de nuestra hija, por su profesionalismo y dedicación . Gracias por guiarnos en este proceso. Mil bendiciones."</p>
					
				</div>
				<div class="col align-center">
					<div class="image round fit">
						<img src="images/test1.jpeg" alt="" />
					</div>
					<p><strong>Natalia Diaz Naranjo</strong></p>
					<p>"Desde el día 1 de nacido liam, el doctor se ganó toda nuestra admiración por su gran profesionalismo y atención con nuestro bebé. Su amor y entrega por ellos es lo que hoy en día hace que lo prefiramos."</p>
					
				</div>
				
				
			</div>
			
								
			</div>
		</div>
	</section>