<div id="main">
			<section class="wrapper style1">
			<header class="align-center">
							<h1>Galeria</h1>
							<p>Momentos con pacientes.</p>
						</header>
			
				<div class="inner">

					<div class="row 200%">
						
							<div class="box alt">
								<div class="row 100% uniform">
									<div class="4u"><span class="image fit"><img src="images/galeria02.jpeg" alt="" /></span></div>
									<div class="4u"><span class="image fit"><img src="images/galeria01.jpg" alt="" /></span></div>
									<div class="4u$"><span class="image fit"><img src="images/galeria03.jpeg" alt="" /></span></div>
									<!-- Break -->
									<div class="4u"><span class="image fit"><img src="images/galeria04.jpeg" alt="" /></span></div>
									<div class="4u"><span class="image fit"><img src="images/galeria05.jpeg" alt="" /></span></div>
									<div class="4u$"><span class="image fit"><img src="images/galeria06.jpeg" alt="" /></span></div>
									<!-- Break -->
									<div class="4u"><span class="image fit"><img src="images/galeria07.jpeg" alt="" /></span></div>
									<div class="4u"><span class="image fit"><img src="images/galeria08.jpeg" alt="" /></span></div>
									<div class="4u$"><span class="image fit"><img src="images/galeria09.jpeg" alt="" /></span></div>
									<!-- Break -->
									<div class="4u"><span class="image fit"><img src="images/galeria10.jpeg" alt="" /></span></div>
									<div class="4u"><span class="image fit"><img src="images/galeria11.jpeg" alt="" /></span></div>
									<div class="4u$"><span class="image fit"><img src="images/galeria12.jpeg" alt="" /></span></div>
								</div>
							</div>
						



						
					</div>
				</div>
			</section>
		</div>