<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Medicina Neonatal</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<link rel="icon" href="images/favicon.ico">
</head>
<body class="subpage">

	<!-- Header -->
	<header id="header">
		<div class="logo"><a href="/">Neonatólogo <span>Carlos Sánchez</span></a></div>
		<a href="#menu">Menú</a>
	</header>

	<!-- Nav -->
	<nav id="menu">
		<ul class="links">
			<li><a href="/">Home</a></li>
			<li><a href="/experiencias">Experiencias</a></li>
			<li><a href="/galeria">Galería</a></li>
			<li><a href="/contact">Contáctanos</a></li>
		</ul>
	</nav>

	<!-- Formulario -->
	{{{ body }}}


	<!-- Footer -->
	<footer id="footer">
		<div class="copyright">
			<ul class="icons">
				<li><a href="https://www.instagram.com/neonatologocarlossanchez" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
				<li><a href="https://bit.ly/2XfLfP0" class="icon fa-whatsapp"><span class="label">Whatsapp</span></a></li>
			</ul>
			<p>&copy; Neonatológo Carlos Sánchez. Todos los derechos reservados. Plantilla: <a href="https://templated.co">TEMPLATED</a>. Imagenes: <a href="https://unsplash.com">Unsplash</a>. Icono: <a href="https://www.flaticon.es/">Flaticon</a>.</p>
		</div>
	</footer>

	<!-- Scripts -->
	<script src="assets/js/jquery.min.js"></script>
	<script src="assets/js/jquery.scrolly.min.js"></script>
	<script src="assets/js/jquery.scrollex.min.js"></script>
	<script src="assets/js/skel.min.js"></script>
	<script src="assets/js/util.js"></script>
	<script src="assets/js/main.js"></script>

</body>
</html>