<!DOCTYPE HTML>
<html>
	<head>
		<title>Medicina neonatal</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" href="images/favicon.ico">
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="/">Neonatólogo <span>Carlos Sánchez</span></a></div>
				<a href="#menu">Menú</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="/experiencias">Experiencias</a></li>
					<li><a href="/galeria">Galería</a></li>
					<li><a href="/contact">Contáctanos</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Medicina neonatal</h1>
						<h2>Prestamos servicios de atención médica a recién nacidos</h2>
						<p>"Atendiendo la contingencia en la que nos encontramos, he tomado la decisión de trasladarme del consultorio a la casa de mis pacientes."</p>
					</header>
					<a href="#main" class="button big scrolly">Leer más</a>
				</div>
			</section>

		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
							<!-- 2 Columns -->
								<div class="flex flex-2">
									<div class="col col1">
										<div class="image round fit">
											<a href="/galeria" class="link"><img src="images/pic01.jpeg" alt="" /></a>
										</div>
									</div>
									<div class="col col2">
										<h3>Perfil</h3>
										<p>Carlos Andrés Sánchez, Médico pediatra de la Universidad Militar con supraespecialización en Perinatología y Neonatología de la Universidad Nacional de Colombia con más de 12 años de experiencia en el área, que han permitido lograr una formación integral y así responder científica, humana y éticamente a las necesidades de salud de los recién nacidos, con gran vocación de servicio , empatía y calidez en la atención. </p>
										
										<a href="/experiencias" class="button">Experiencias padres</a>
									</div>
								</div>
						</div>
					</section>

				

				<!-- Section -->
					<section class="wrapper style2">
						<div class="inner">
							<header class="align-center">
								<h2>Servicios</h2>
								<p>Algunos de los servicios prestados</p>
							</header>
							<div class="flex flex-4">
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic03.jpeg" alt="" />
									</div>
									<p><strong>CONSULTA DE PRIMERA VEZ DEL RECIÉN NACIDO</strong></p>
									<p>Valoración del recién nacido entre el tercer y séptimo día por un pediatra especializado en neonatología de esta forma garantizando una adecuada atención, realizando valoración integral, (peso, talla, oximetría y condiciones clínicas del recién nacido), dando recomendaciones de puericultura y lactancia materna.</p>
									
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic05.jpeg" alt="" />
									</div>
									<p><strong>CONTROL DE CRECIMIENTO Y DESARROLLO</strong></p>
									<p>Consulta periódica desde el primer mes de vida, valorando el adecuado crecimiento y cumplimiento en los hitos del desarrollo del niño, detectando de forma temprana cualquier alteración, seguimiento al esquema de vacunación.</p>
									
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic04.jpg" alt="" />
									</div>
									<p><strong>VIDEO ASISTENCIA</strong></p>
									<p>Consulta de manera rápida, a través de una aplicación de video llamada para brindar atencion lo más pronto posible sin necesidad de desplazamientos.</p>
									
								</div>
								<div class="col align-center">
									<div class="image round fit">
										<img src="images/pic07.jpg" alt="" />
									</div>
									<p><strong>CONSULTA PERINATAL</strong></p>
									<p>Consulta con los padres donde se resolverán inquietudes acerca de la llegada del recién nacido</p>
									
								</div>
							</div>
							<center><a href="/contact" class="button">Contactanos</a></center>
							
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="copyright">
					<ul class="icons">
						<li><a href="https://www.instagram.com/neonatologocarlossanchez" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="https://bit.ly/2XfLfP0" class="icon fa-whatsapp"><span class="label">Whatsapp</span></a></li>
					</ul>
					<p>&copy; Neonatológo Carlos Sánchez. Todos los derechos reservados. Plantilla: <a href="https://templated.co">TEMPLATED</a>. Imagenes: <a href="https://unsplash.com">Unsplash</a>. Icono: <a href="https://www.flaticon.es/">Flaticon</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>